<div class="mainConteiner">
    <div class="routerLinkCont">
        <a [routerLink]="['/productRegistration']" routerLinkActive="router-link-active">Product Registration</a>
        <a [routerLink]="['/distSales']" routerLinkActive="router-link-active">Distributor Sales</a>
        <a [routerLink]="['/distBonus']" routerLinkActive="router-link-active">Distributor Bonus</a>
        <a [routerLink]="['/distributorList']" routerLinkActive="router-link-active">Distributor List</a>

        <span class="authButtons">
            <a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
 

        </span>

    </div>
</div>